@import 'variaveis';


body, html {
  height: 100%;
}

.logo {
  max-width: 120px;
  margin-top: -10px;
}

.page-header {
  padding-bottom: 9px;
  margin: 50px 0 20px;
  border-bottom: 1px solid $gray;
  background-color: $blue;
  color: $white;
  top: -10px;
}

.navbar-inverse {
  background: #000;
  color: $white;

  a {
    color: $white;
  }
}

.active {
  color: $dark;
}

.areacliente {
  color: $blue;
  padding-bottom: 50px;
}

.dados {
  color: $blue;
}

#welcome {
  background-color: $yellow;
  margin-top: -23px;
  padding: 10px;
  text-align: center;
  color: $blue;
}

body {
  background-color: $white;
  font-family: $font;
}

#home {
  z-index: -999;
  min-height: 600px;
  background: url(../img/01.jpg) no-repeat center center fixed;
  background-size: cover;

  /*Css padrão*/
  -webkit-background-size: cover;

  /*Css safari e chrome*/
  -moz-background-size: cover;

  /*Css firefox*/
  -ms-background-size: cover;

  /*Css IE não use mer#^@%#*/
  -o-background-size: cover;

  /*Css Opera*/
  padding-bottom: 200px;
  text-align: center;

  img {
    padding-top: 200px;
    margin: 0 auto;
    padding-bottom: 100px;
  }

  .col-md-4 span {
    padding-top: 30px;
  }

  .thumbnail {
    background: $blue;
    color: $white;

    &:hover {
      background-color: $yellow;
      color: $blue;
    }
  }
}

#topo {
  position: fixed;
  right: 20px;
  text-align: center;
  margin: 0 auto;
  z-index: 9999999999;
  bottom: 0px;
  padding-bottom: 20px;

  p {
    text-transform: uppercase;
    padding-top: 20px;
  }
}

h1 {
  font-family: $font;
  text-transform: uppercase;
  padding-top: 100px;
  text-align: center;
}

h2 {
  font-family: $font;
  text-transform: uppercase;
}

#enderecos {
  text-align: center;
  min-height: 600px;
}

#formendereco {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

input {
  padding-bottom: 20px;
}

label {
  padding-top: 20px;
}

.iconeseditar {
  text-align: right;
}

footer {
  padding-top: 3%;
  background-color: $blue;
  text-align: center;
  color: $white;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  bottom: 0;
}

footer img {
  max-width: 60px;
}


.add {
  min-height: 190px;

  &:hover {
    color: $blue;
    background:$yellow;
  }
}


#slider_pedidos {
  padding-top: 50px;
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $graytwo;
}

.panel-collapse {
  padding: 10px;
  text-align: center;
}

.codigocompra {
  padding-top: 10px;
}

.thumbnail img {
  padding: 20px;
}

#wrapper {
  min-height: 500px;
}

.navbar-inverse {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

#pedidos {
  padding-top: 20px;
  min-height: 600px;

  .thumbnail {
    min-height: 500px;
  }
}

#areadocliente {
  min-height: 600px;
  text-align: center;
}

.carousel-control {
  &.right, &.left {
    background-image: none;
    color: $blue;
  }
}

#historicocompras .thumbnail {
  min-height: 400px;
}

.thumbnail {
  min-height: 200px;
}

.btnbottom {
  float: right;
}

.preco {
  color:$green;
  font-weight: bold;
  font-size: 20px;
}

#preferencias {
  text-align: left;
}

li {
  list-style: none;
}

#preferencias {
  li:before {
    content: "•";
    color: $blue;

    /* or whatever color you prefer */
  }

  h2 {
    text-align: center;
  }

  img {
    width: 40px;
    height: 40px;
  }
}

#selos {
  img {
    max-width: 100px;
  }

  h4 {
    text-transform: uppercase;
    font-weight: bold;
    color: orange;
  }
}

#pesquisa {
  form {
    max-width: 600px;
    margin: 0 auto;
  }

  input, textarea {
    margin-bottom: 30px;
  }
}

#dadospessoais {
  text-align: left;

  h2 {
    text-align: center;
  }

  li {
    padding-bottom: 20px;
    list-style: none;
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.botaoatualiza {
  float: right;
  margin-right: 20px;
}

.btnok {
  margin-right: 20px;
  float: right;
  background: $yellow;
  color:$blue;
}

.carousel-indicators {
  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    background-color: $yellow;
    border: 1px solid $yellow;
    border-radius: 10px;
  }

  .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: $blue;
    border: none;
  }
}
